.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  font-size: 20px;
}

@media (max-width: 450px) {
  .App {
    overflow-y: hidden !important;
    font-size: 15px !important;
  }

  .currency-selector {
    width: 350px !important;
  }

  .currency-items {
    gap: 5px !important;
  }

  .unselect-currency {
    height: 20px;
    width: 20px;
  }

  .unselect-currency span {
    margin-bottom: 2px;
  }

}

.currency-selector {
  border: 1px solid #D1D1D1;
  padding: 10px 15px;
  width: 400px;
  border-radius: 5px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
}

.selected-currencies {
  margin: 5px 0 20px;
  gap: 12px !important;
}

.selected-currency {
  justify-content: center;
  position: relative;
  border-radius: 2px;
  background-color: #E5E5E5 !important;
  border: none !important;
  color: #000 !important;
}

.selected-currency:hover {
  cursor: auto !important
}

.unselect-currency {
  position: absolute;
  left: 90%;
  top: -10px;
  border: 2px solid #FFF;
  border-radius: 50%;
  background-color: black;
  color: #FFF;
  cursor: pointer;
  transition: background 0.1s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unselect-currency:hover {
  background-color: #FFF;
  border: 2px solid #000;
  color: #000;
}

.currency-items {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.currency {
  display: flex;
  flex-basis: 25%;
  margin-bottom: 10px;
  border: 1px solid #D1D1D1;
  padding: 5px 5px;
  position: relative;
  background-color: #ECECEC;
  align-items: center;
  flex: 0 0 calc(31% - 10px);
  transition: background 0.1s ease-in-out;
  color: #0c1a69;
}

.currency:hover {
  background-color: #DCDCDC;
  cursor: pointer;
}

input[type="checkbox"] {
  -webkit-appearance: initial;
  appearance: initial;
  background: #ECECEC;
  width: 14px;
  height: 14px;
  border: none;
  position: relative;
  border: 1px solid #D1D1D1;
  border-radius: 2px;
}

input[type="checkbox"]:checked {
  background: #fff;
}

input[type="checkbox"]:checked:after {
  content: "x";
  color: red;
  position: absolute;
  left: 25%;
  top: -15%;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  transform: scale(1.2);
}

.selected {
  background-color: #FFF !important;
}

.no-currencies {
  display: flex;
  justify-content: center;
  width: 100%;
}